body
{
    margin: 0; /* Отключаем отступы по умолчанию у body */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url("../../Photos/SpaceFone.jpg");
    background-size: cover;
    background-attachment: fixed;
}
main
{
    margin-top: 7%;
    margin-bottom: 4%;
}
.photo
{
    float: left;
    margin: 2%;
    border-radius: 4%;
    border: outset #ea9595;
}
.text h2
{
    color: #477758;
    font-size: 30px;
}
.JW
{
    color: #2f3138;
    font-weight: bold;
}
.NH
{
    color: #2f3138;
    font-weight: bold;
}
main ul
{
    padding: 0;
}
main ul li
{
    background-color: #9bacd5;
    border-radius: 30px;
    padding: 2%;
    box-shadow: 1px 5px 20px -5px black;
}
.Two
{
    margin-top: 100px;
}
.container
{
    border-radius: 15px;
    padding: 2%;
    margin-right: 10%;
    margin-left: 10%;
    background: rgb(63,96,149);
    background: radial-gradient(circle, rgba(63,96,149,1) 8%, rgba(60,122,138,1) 50%, rgba(94,90,101,1) 100%);
}
main ul
{
    list-style: none;
}
@media (max-width: 1000px)
{
    .container
    {
        margin-top: 150px;
    }
    .text p
    {
        font-size: 25px;
        overflow-wrap: anywhere;
    }
    .text h2
    {
        overflow-wrap: anywhere;
    }
}