body
{
    margin: 0; /* Отключаем отступы по умолчанию у body */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url("../../Photos/SpaceFone.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.container
{
    backdrop-filter: blur(10px);
    margin: 120px 9% 30px;
    background-color: rgba(219, 224, 255, 0.53);
    border-radius: 50px;
}
.photos
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
    grid-auto-flow: dense;
    padding-left: 70px;
    padding-right: 70px;
}
.motion
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pt
{
    text-align: center;
    padding-bottom: 50px;
}
#Saturn
{
    width: 400px;
    height: 300px;
}
.SS
{
    font-size: 30px;
    color: #844e4e;
}
.dv
{
    padding: 3%;
}
.dv img
{
    transition: transform 0.6s ease;
    height: 300px;
    width: 300px;
}
.photos .motion img:hover
{
    transform: translateY(-40px);
}
.content
{
    /* Добавляем отступ сверху для контента */
    padding: 30px 2%;
    margin: 30px 30px;
    float: left;
    /*background-color: #cbc6c6;*/
    border-radius: 30px;
    font-family: Bahnschrift, sans-serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.5); /* Цвет фона контейнера с прозрачностью */
    backdrop-filter: blur(7px);
}
#scrollTop {
    margin: 1%;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px inset;
}
#scrollTop:hover
{
    background-color: #858484;
}
#scrollTop a:hover, #scrollTop a
{
    color: #4eb075;
}
@media (max-width: 1000px)
{
    .container
    {
        margin-top: 150px;
    }
}